*{
    margin: 0px;
    padding: 0px;

}

header{
   
    width: 100%;                        /* ancho*/
    height: 70px;                       /* altura fija*/
    background: rgba(48, 62, 184, 0.912);  /* colorfija*/
    position: fixed;                    /* posicion fija*/
    z-index: 10;
}
a{
    text-decoration: none;
}

.ancho{
    
    width: 80%;
    height: 70px;
    /*background: rgb(201, 207, 213); */
    margin: auto;


}

.logo{
    width: 30%;
    height: 70px;
    color: white;
    display: block;     /* background: rgb(229, 232, 236); */
    align-items: center;
   justify-content: center;
   padding: 10px;
   box-sizing: border-box;
   float: left;
   border-color: white;
   border: width 2px;;
}
.logo a img{
    width: 80px;
    height: 55px;
    filter: drop-shadow(0px 0px 2px rgb(243, 243, 8));
   
}

nav{
    width: 70%;
    height: 70px;
   /* background: rgb(88, 208, 188);*/
    float: left;
    text-align: right;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
}

.menu_horizontal{
   display: flex;       /*pone los textos en horizontal*/
   list-style: none;    /*quita el formato de lista*/
   justify-content: space-around;   /*justifica y da espacio entre textos*/
}

.menu_horizontal>li>a{
    color: aliceblue;
    text-decoration: none; /*quita decoración de texto, (subrayado, y otros)*/
    font-weight: bold; /*negrita*/
    display: block;
    padding: 15px 10px;
    text-transform:;
    font-family: Tiger;
    font-size: 25px;
}
.menu_horizontal>li>a:hover{
    color: aqua;
    
}
.menu_horizontal .menu_vertical{
    align-items: center;
    justify-content: center;
}
.menu_horizontal>li:hover .menu_vertical{
    display: block;
    
}
.menu_horizontal>li>ul{
   
   

}
.menu_vertical{
    list-style: none; /*quita el formato de lista*/
    display: none;
    position: absolute;
    width: 80px;
    background: rgba(96, 74, 216, 0.822);
    padding: 10px 5px 10px 20px;
    font-family: Tiger;
    font-size: 25px;
   
}
.menu_vertical a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu_vertical li a:hover{
color: rgb(238, 31, 31);
}
.menu_vertical li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 22px 10px 1px;
    font-weight: bold;
    float:none ;
   
}
footer{
    background: black;
    width: 100%;
    height: 150px;
    align-content: center;
    

}
footer p{
    color: white;
    
}


/*FUENTES*/

@font-face {
    font-family: Tiger;
    src: url(/fuentes/tiger_chest.otf);
}

main{
    padding: 100px 400px 0px 20px;
    
    width: 100%;
    height: 200px;
    background: rgb(216, 20, 180);
    

}
main p{
   
    justify-content: center;
    align-items: center;
    margin: 0% 20% 50% 20%;
    display: flex;
    
}
.contendiv{
    padding: 75px 0px 10px 0px;
    
}