*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 80px;
    background: blue
      
    
}
.logo{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    background: greenyellow;
    height: 80px;
    border: 5px solid black;
}

nav a:hover{
    color: aqua;
}
.logo h1 a{
    color: white;
    text-decoration: none;
}
.logo h1 a:hover{
    color: blue;
}
nav{
    display: flex;
    width: 100%;
    background: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;

}
nav a{
    color: white;
    text-decoration: none;
    padding: 4px 10px;
    font-weight: bold;
    display: auto;
    flex-direction: row;
    text-align: center;
    align-items: center;
   
    
}


@media screen and (max-width: 550px){

    nav, a{
        flex-direction: column;
        display: flex;
    }
    .logo, h1, a:hover{
        
        font-size: 15px;
        transition: 1s;
        
    }
}
